<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cart.css">
    <title>Document</title>
</head>

<body>
    <div class="cart">
        <div class="firstRow">
            <h2 class="cart__title">Корзина</h2>
            <div class="cart__close">
                <img src="./../img/exit.png" alt="">
            </div>
        </div>

        <div class="cart__volna">
            <img src="./../img/cart__volna.png" alt="">
        </div>
        <div class="cart__main">
            <div class="menu">
                <div class="menu__object">
                    <div class="menu__object__row1">
                        <div class="menu__image">
                            <img src="./../img/pizza__smal.png" alt="">
                        </div>
                        <div class="menu__description">
                            <h3 class="menu__title">Пицца<br>
                                Мюнхенская DeLUX</h3>
                            <div class="menu__text">
                                Ветчина, Горчица, Колбаски баварские, Моцарелла, Помидоры, Сосиски белые, Соус Барбекю.
                            </div>
                            <div class="menu__delete">
                                <img src="./../img/delete.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="menu__object__row2">
                        <div class="menu__size">
                            <img src="./../img/size_white.png" alt=""> 36 см.
                        </div>
                        <div class="menu__counter">

                            <div class="menu__plus">
                                <img src="./../img/plus.png" alt="">
                            </div>
                            <div class="menu__minus">
                                <img src="./../img/minus.png" alt="">
                            </div>
                            <div class="menu__count"><span>01</span> шт.</div>
                        </div>
                        <div class="menu__price">
                            <span>29</span> грн.
                        </div>
                    </div>
                    <div class="smvolna">
                        <img src="./../img/volnasm.png" alt="">
                    </div>
                </div>
                <div class="menu__object">
                    <div class="menu__object__row1">
                        <div class="menu__image">
                            <img src="./../img/pizza__smal.png" alt="">
                        </div>
                        <div class="menu__description">
                            <h3 class="menu__title">Пицца<br>
                                Мюнхенская DeLUX</h3>
                            <div class="menu__text">
                                Ветчина, Горчица, Колбаски баварские, Моцарелла, Помидоры, Сосиски белые, Соус Барбекю.
                            </div>
                            <div class="menu__delete">
                                <img src="./../img/delete.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="menu__object__row2">
                        <div class="menu__size">
                            <img src="./../img/size_white.png" alt=""> 36 см.
                        </div>
                        <div class="menu__counter">

                            <div class="menu__plus">
                                <img src="./../img/plus.png" alt="">
                            </div>
                            <div class="menu__minus">
                                <img src="./../img/minus.png" alt="">
                            </div>
                            <div class="menu__count"><span>01</span> шт.</div>
                        </div>
                        <div class="menu__price">
                            <span>29</span> грн.
                        </div>
                    </div>
                    <div class="smvolna">
                        <img src="./../img/volnasm.png" alt="">
                    </div>
                </div>

            </div>
            <div class="buyer">
                <h3 class="buyer__title">
                    Доставка
                </h3>
                <div class="buyer__first">
                    <div class="buyer__viewdelv">
                        <span class="buyer__desc"><input type="radio"> Самовывоз</span>
                        <div class="buyer__addesc">+0 грн.</div>
                    </div>
                    <span class="buyer__viewdelv">
                        <span class="buyer__desc"><input type="radio"> Курьер</span>
                        <div class="buyer__addesc">+45 грн.</div>
                    </span>
                    <div class="buyer__viewdelv">
                        <span class="buyer__desc"><input type="radio"> Курьер в костюме</span>
                        <div class="buyer__addesc">+65 грн.</div>
                    </div>



                </div>
                <div class="buyer__second">
                    <div class="buyer__form">
                        <input class="form__name" type="text" value="Имя">
                        <input class="form__name" type="phone" value="Телефон">
                        <textarea class="form__adress" type="text">Адрес</textarea>
                        <div class="form__desc">
                            Стоимость пиццы: <span>+400 грн.</span><br>
                            Стоимость доставки: <span>+65 грн.</span>
                        </div>
                    </div>
                    <div class="buyer__imgview">
                        <div class="buyer__slider">
                            <div class="buyer__prev"><img src="./../img/arrowLeft.png" alt=""></div>
                            <div class="buyer__next"><img src="./../img/arrowRight.png" alt=""></div>
                        </div>
                        <img src="./../img/view.png" alt="">
                        <div class="form__desc imgview">
                            Персонаж: <span>Дровосек</span>
                        </div>

                    </div>
                    
                    <!--  -->
                </div>
                <div class="buyer__volna">
                    <img src="./../img/volc.png" alt="">
                </div>
                <div class="buyer__third">
                    <div class="buyer__sum">
                        Общая стоимость:<br> <span>465 грн.</span>
                    </div>
                    <div class="buyer__button button">
                        КУПИТЬ
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>